@model QLKTX.Models.SinhVien
@using QLKTX.Models;

@{

    ViewBag.Title = "TrangChu";
    Layout = "~/Views/Shared/LayoutUser.cshtml";
    List<Phong> lPhong = Session["lPhong"] as List<Phong>;
}
<style>
    #container {
        font-size: 17px;
    }
</style>
<div id="container">
    <h4>Thông tin sinh viên</h4>
    <hr />
    <b style="color:crimson">@ViewBag.ThongBao</b>
    <div>
        <span>Mã số sinh viên: </span>
        <span>@Model.MaSV</span>
    </div>

    <div>
        <span>Họ và tên: </span>
        <span>@Model.Ho @Model.Ten</span>
    </div>
    <div>
        <span>Giới tính: </span>
        <span>@Model.GioiTinh</span>
    </div>

    <div>
        <span>Ngày Sinh: </span>
        <span>@string.Format("{0:dd/MM/yyyy}", Model.NgaySinh)</span>
    </div>

    <div>
        <span>Quê quán: </span>
        <span>@Model.QueQuan</span>
    </div>

    <div>
        <span>Số căn cước: </span>
        <span>@Model.SoCanCuoc</span>
    </div>

    <div>
        <span>Số điện thoại: </span>
        <span>@Model.SoDienThoai</span>
    </div>

    <div>
        <span>Lớp: </span>
        <span>@Model.Lop</span>
    </div>

    <div class="form-group">
        <span>Danh sách phòng trống</span>
        <div class="col-md-10">
            <select onchange="xacnhan.value = this.value" name="MaPhong">
                @foreach (var item in lPhong)
                {
                    int sl = item.DangKyNoiTrus.Count(t => t.TrangThai != "Bị hủy");
                    <option value="@item.Ma">@item.Ten (@(item.SoLuongTrong) chổ) (@sl đăng ký mới)</option>

                }
            </select>
        </div>
    </div>
    @*//if (ViewBag.ThongBao != null)
        //{*@
    <button value="@lPhong[0].Ma" id="xacnhan" class="open_btn btn_xacnhan">Xác nhận</button>
    @*<input type="submit" value="Đăng ký" />*@
    @*}*@
    <script>
        WriteHopThoai("Bạn muốn đăng ký nội trú với phòng", "Xác nhận chọn phòng này, cho dù phòng này có vượt quá số lượng đăng ký?", "XacNhanDangKy", "get", "maPhong","@lPhong[0].Ma")
    </script>

    <script>document.getElementById('sidebar-dangkynoitru').classList.add("active");</script>
</div>

