@model QLKTX.Models.SinhVien
<title>Thông tin sinh viên</title>
@*<link rel="stylesheet" type="text/css" href="~/assets/css/date.css">*@
@*<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">*@
<link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.1/font/bootstrap-icons.css">


@{
    ViewBag.Title = "TrangChu";
    Layout = "~/Views/Shared/LayoutUser.cshtml";
}
<style>
    .profile--form__text-field span {
        left: 15px;
    }

    select {
        width: 100%;
        height: 30px;
    }
</style>
<script>document.getElementById('sidebar-hoso').classList.add("active");</script>
<h1 class="profile-contain-heading">Thông tin sinh viên</h1>
<div class="profile-contain-main">
    <form action="" method="post" class="profile-contain-main-form ">
        @Html.AntiForgeryToken()
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-9">
                    <div class="profile--form__text-field">
                        <label for="username3">Tên sinh Viên</label>
                        <input readonly autocomplete="off" type="text" value="@Model.Ho @Model.Ten" id="username3" placeholder="" />
                        @Html.Hidden("Ho")
                        @Html.Hidden("Ten")
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="profile--form__text-field">
                                <label for="username3">Mã số sinh viên</label>
                                <input readonly autocomplete="off" type="text" id="username3" name="MaSV" value="@Model.MaSV" placeholder="" />
                                @Html.ValidationMessageFor(model => model.MaSV, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="profile--form__text-field">

                                @*<input type="radio" autocomplete="off" name="GioiTinh" id="nam" value="Nam" /><label for="nam">Nam </label>
                                    <input type="radio" autocomplete="off" name="GioiTinh" id="nu" value="Nữ" /><label for="nu">Nữ</label>*@
                                <label for="username3">Giới tính</label>
                                <input autocomplete="off" type="text" id="username3" name="GioiTinh" value="@Model.GioiTinh" placeholder="" />
                                @Html.ValidationMessageFor(model => model.GioiTinh, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="profile--form__text-field">
                                <label for="username3">Lớp</label>
                                <input autocomplete="off" type="text" id="username3" name="Lop" value="@Model.Lop" placeholder="" />
                                @Html.ValidationMessageFor(model => model.Lop, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="profile--form__text-field">
                                <label for="NgaySinh">Ngày sinh</label>
                                <input autocomplete="off" type="date" id="ngaySinh" name="NgaySinh" value="@string.Format("{0:dd/MM/yyyy}",Model.NgaySinh)" class="" placeholder="" />
                                @Html.ValidationMessageFor(model => model.NgaySinh, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="profile--form__text-field">
                                <label for="username3">Số căn cước</label>
                                <input autocomplete="off" type="text" id="username3" name="SoCanCuoc" value="@Model.SoCanCuoc" placeholder="" maxlength="13" class="phone" />
                                @Html.ValidationMessageFor(model => model.SoCanCuoc, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="profile--form__text-field">
                                <label for="username3">Số điện thoại</label>
                                <input autocomplete="off" type="text" id="username3" name="SoDienThoai" value="@Model.SoDienThoai" placeholder="" maxlength="10" class="phone" />
                                @Html.ValidationMessageFor(model => model.SoDienThoai, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="profile--form__text-field">
                            <label for="username3" style="left:25px;">Email</label>
                            <input autocomplete="off" type="email" id="username3" name="Email" value="@Model.Email" placeholder="" maxlength="50" class="" />
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="profile--form__text-field">
                        @if (Model.QueQuan != null)
                        {
                            string[] s = Model.QueQuan.Split(',');
                            <input hidden id="xa" value="@s[0].Trim()" />
                            <input hidden id="quan" value="@s[1].Trim()" />
                            <input hidden id="tinh" value="@s[2].Trim()" />
                        }
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="profile--form__text-field">
                                    <span class="quequan">Tỉnh/thành phố</span>
                                    <select class="" name="tinh" id="province">
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="profile--form__text-field">
                                    <span class="quequan">Quận/huyện</span>
                                    <select class="" name="quan" id="district">
                                        <option value=""> Chọn </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="profile--form__text-field">
                                    <span class="quequan">Xã/phường</span>
                                    <select class="" name="xa" id="ward">
                                        <option value=""> Chọn </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <input id="result" value="@Model.QueQuan" name="QueQuan" hidden />
                    @Html.ValidationMessageFor(model => model.QueQuan, "", new { @class = "text-danger" })
                    @*<input autocomplete="off" type="text" id="username3" value="@Model.QueQuan" placeholder="" />*@
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="profile--form__text-field">
                                <label for="username3">Trạng thái</label>
                                <input autocomplete="off" readonly type="text" id="username3" name="TrangThai" value="@Model.TrangThai" placeholder="" />
                                @Html.ValidationMessageFor(model => model.TrangThai, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="profile--form__text-field">
                                @if (Model.MaPhong == null)
                                {
                                    <span style="position:relative">Phòng ở: </span>
                                    if (Model.DangKyNoiTru == null)
                                    {
                                        <br /><span class="quequan">Bạn chưa đăng ký nội trú! Đăng ký <a href="DangKyNoiTru">tại đây</a></span>
                                    }
                                    else if (Model.DangKyNoiTru.TrangThai == "Bị hủy")
                                    {
                                        <br /><span class="quequan"> Bị hủy, đăng ký lại <a href="DangKyNoiTru"> tại đây</a></span>
                                    }
                                    else
                                    {
                                        <span style="position:relative"> @Model.DangKyNoiTru.TrangThai (@Model.DangKyNoiTru.Phong.Ten)</span><br />
                                        <span style="position:relative"> Để hủy yêu cầu <a class="open_btn btn btn-danger">Tại đây</a></span>
                                    }
                                }
                                else
                                {
                                    <label for="username3">Phòng ở</label>
                                    <input autocomplete="off" readonly type="text" id="username3" value="@Model.Phong.Ten" placeholder="" />
                                }
                                @Html.HiddenFor(model => model.MaPhong)
                                @Html.HiddenFor(model => model.MatKhau)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="profile--form__img">
                        <img id="previewImage" src="@Model.AnhDaiDien" alt="ảnh thông tin sinh viên">
                        <div class="profile--form__img-edit">
                            <i class="fa-solid fa-pen"></i>
                            <input type="file" name="AnhDaiDien" capture="camera" id="imageInput">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="profile--form__submit">
                    <button type="submit" class="profile--form__submit-btn">Lưu</button>
                    <span class="profile--form__unsubmit-btn">Sửa</span>
                </div>
            </div>
        </div>
    </form>
</div>

@if (Model.DangKyNoiTru != null && Model.DangKyNoiTru.TrangThai != "Bị hủy")
{
    <link rel="stylesheet" href="~/assets/css/hopThoai.css" />
    <div class="modall an" style="">
        <div class="modal__innerr">
            <div class="modal__headerr">
                <p>Bạn muốn hủy bó xét duyệt này? </p>
                <i class="fas fa-times"></i>
            </div>
            @using (Html.BeginForm("HuyDangKyNoiTru", "User", new { url = Request.Url.ToString() }, method: FormMethod.Post))
            {
                <div class="modal__bodyy">
                    <span>Lý do hủy:</span><br />
                    <input type="radio" name="ghiChu" class="rdo_lydo" value="Tôi muốn chọn phòng khác" id="mau1" checked />
                    <label for="mau1">Tôi muốn chọn phòng khác</label><br />
                    <input type="radio" name="ghiChu" class="rdo_lydo" value="Tôi muốn cập nhật lại thông tin sinh viên của mình" id="mau2" />
                    <label for="mau2">Tôi muốn cập nhật lại thông tin sinh viên của mình</label><br />
                    <input type="radio" name="ghiChu" class="rdo_lydo" value="Tôi không muốn đăng ký nữa" id="mau3" />
                    <label for="mau3">Tôi không muốn đăng ký nữa</label><br />
                    <input type="radio" name="ghiChu" value="-1" id="khac" />
                    <label for="khac">Khác</label>
                    <textarea id="lyDoKhac" disabled placeholder="Nhập lý do khác"></textarea>
                </div>
                <div class="modal__footerr">
                    <a class="close btn ">Hủy bỏ</a>
                    <button type="submit" class="btn">Xác nhận hủy</button>
                </div>
            }
        </div>
    </div>
    <script src="~/assets/js/HopThoai.js"></script>
    <script src="~/assets/js/HopThoaiCheck.js"></script>
}

@if (Model.GioiTinh != null)
{
    if (Model.GioiTinh == "Nam")
    {
        <script>
            document.getElementById('nam').checked = true;
        </script>
    }
    else
    {
        <script>
            document.getElementById('nu').checked = true;
        </script>
    }
}

<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
@*<script type="text/javascript" src="~/assets/js/date.js"></script>*@
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.26.1/axios.min.js" integrity="sha512-bPh3uwgU5qEMipS/VOmRqynnMXGGSRv+72H/N260MQeXZIK4PG48401Bsby9Nq5P5fz7hy5UGNmC/W1Z51h2GQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="~/assets/js/GetAddressApi.js"></script>
<script src="~/assets/js/kiemTraChuoiSo.js"></script>
<script src="~/assets/js/mainProfile.js"></script>