@model QLKTX.Models.SinhVien
@{
    ViewBag.Title = "TrangChu";
    Layout = "~/Views/Shared/LayoutUser.cshtml";
}
@section sidebarLeftUser{
    <ul class="sidebar-left-navbar-nav">
        <li class="sidebar-left-navbar-nav-item active">
            <a href="~/User/TrangChu" class="sidebar-left-navbar-nav-item-link">
                <i class="fa-light fa-grid-2"></i>
                Trang chủ
            </a>
        </li>
        <li class="sidebar-left-navbar-nav-item ">
            <a href="~/User/ThongTinSinhVien" class="sidebar-left-navbar-nav-item-link">
                <i class="fa-light fa-user"></i>
                Hồ sơ sinh viên
            </a>
        </li>
        <li class="sidebar-left-navbar-nav-item">
            <a href="#" class="sidebar-left-navbar-nav-item-link">
                <i class="fa-light fa-leaf"></i>
                Gia nhập
            </a>
        </li>
        <li class="sidebar-left-navbar-nav-item">
            <a href="#" class="sidebar-left-navbar-nav-item-link">
                <i class="fa-light fa-file"></i>
                Biễu mẫu
            </a>
        </li>
        <li class="sidebar-left-navbar-nav-item">
            <a href="#" class="sidebar-left-navbar-nav-item-link">
                <i class="fa-light fa-memo"></i>
                Nội quy - quy định
            </a>
        </li>
        <li class="sidebar-left-navbar-nav-item">
            <a href="#" class="sidebar-left-navbar-nav-item-link">
                <i class="fa-light fa-money-bill"></i>
                Thanh toán - Hóa đơn
            </a>
        </li>
        <li class="sidebar-left-navbar-nav-item">
            <a href="#" class="sidebar-left-navbar-nav-item-link">
                <i class="fa-light fa-flag"></i>
                Liên hệ
            </a>
        </li>
        <li class="sidebar-left-navbar-nav-item">
            <a href="#" class="sidebar-left-navbar-nav-item-link">
                <i class="fa-light fa-circle-minus"></i>
                Vi phạm
            </a>
        </li>
    </ul>
}

<link rel="stylesheet" href="~/assets/css/Dashboard/User/style.css">
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 col-md-12 col-12">
            <div class="room-info">
                @if (Model.MaPhong == null)
                {
                    if (Model.DangKyNoiTru != null || Model.DangKyNoiTru.TrangThai == "Chờ xét duyệt")
                    {
                        <a href="DangKynoiTru" class="room-info-content-none-room">
                            <p>Chờ xét duyệt</p>
                            <i class="fa-light fa-pen-to-square"></i><br>
                            <p>Thay đổi</p>
                        </a>
                        <div class="room-info-content-room-detail">
                            <ul class="info-room-list">
                                <li class="info-room-item">
                                    <span class="info-room-item-title">Khu</span> : <span class="info-room-item-name">@Model.DangKyNoiTru.Phong.Tang.Khu.Ten</span>
                                </li>
                                <li class="info-room-item">
                                    <span class="info-room-item-title">Tầng</span> : <span class="info-room-item-name">@Model.DangKyNoiTru.Phong.Tang.Ten</span>
                                </li>
                                <li class="info-room-item">
                                    <span class="info-room-item-title">Phòng</span> : <span class="info-room-item-name">@Model.DangKyNoiTru.Phong.Ten</span>
                                </li>
                                <li class="info-room-item">
                                    <span class="info-room-item-title">Số chổ trống</span> : <span class="info-room-item-name">@Model.DangKyNoiTru.Phong.SoLuongTrong</span>
                                </li>
                            </ul>
                        </div>
                    }
                    else
                    {
                        <a href="DangKynoiTru" class="room-info-content-none-room">
                            <i class="fa-regular fa-plus"></i>
                            <p>Đăng ký phòng</p>
                        </a>
                        <div class="room-info-content-room-detail">
                            <ul class="info-room-list">
                                <li class="info-room-item">
                                    <span class="info-room-item-title">Khu</span> : <span class="info-room-item-name">Chưa đăng ký</span>
                                </li>
                                <li class="info-room-item">
                                    <span class="info-room-item-title">Tầng</span> : <span class="info-room-item-name">Chưa đăng ký</span>
                                </li>
                                <li class="info-room-item">
                                    <span class="info-room-item-title">Phòng</span> : <span class="info-room-item-name">Chưa đăng ký</span>
                                </li>
                                <li class="info-room-item">
                                    <span class="info-room-item-title">Số sinh viên</span> : <span class="info-room-item-name">Chưa đăng ký</span>
                                </li>
                            </ul>
                        </div>
                    }
                }
                else
                {
                    <a href="DangKyThayDoiPhong" class="room-info-content-none-room">
                        <i class="fa-light fa-pen-to-square"></i><br>
                        <p>Thay đổi phòng</p>
                    </a>
                    <div class="room-info-content-room-detail">
                        <ul class="info-room-list">
                            <li class="info-room-item">
                                <span class="info-room-item-title">Khu</span> : <span class="info-room-item-name">@Model.Phong.Tang.Khu.Ten</span>
                            </li>
                            <li class="info-room-item">
                                <span class="info-room-item-title">Tầng</span> : <span class="info-room-item-name">@Model.Phong.Tang.Ten</span>
                            </li>
                            <li class="info-room-item">
                                <span class="info-room-item-title">Phòng</span> : <span class="info-room-item-name">@Model.Phong.Ten</span>
                            </li>
                            <li class="info-room-item">
                                <span class="info-room-item-title">Số sinh viên</span> : <span class="info-room-item-name">@Model.Phong.SinhViens.Count()</span>
                            </li>
                        </ul>
                    </div>
                }

            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-6">
            <div class="service-info">
                <h2 class="service-info-name">
                    <i class="fa-regular fa-seedling"></i>
                    Dịch vụ
                </h2>
                <div id="service-signin-contact">
                    <div class="service-item">
                        <i class="fa-regular fa-bicycle"></i>
                        <h2 class="service-item-name">Giữ xe</h2>
                    </div>
                    <div class="service-item">
                        <i class="fa-solid fa-shield-halved"></i>
                        <h2 class="service-item-name">Bảo quản vật tư</h2>
                    </div>
                    <div class="service-item">
                        <i class="fa-solid fa-hand-sparkles"></i>
                        <h2 class="service-item-name">Vệ sinh phòng</h2>
                    </div>
                </div>
                <a href="#" class="service-info-link">Xem thêm <i class="fa-regular fa-arrow-right"></i></a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-6">
            <div class="service-info">
                <h2 class="service-info-name">
                    <i class="fa-sharp fa-solid fa-pen"></i>
                    Đăng ký
                </h2>
                <div id="service-singup-service">
                    <div class="service-item">
                        <i class="fa-solid fa-building"></i>
                        <h2 class="service-item-name">Phòng</h2>
                    </div>
                    <div class="service-item">
                        <i class="fa-solid fa-ticket"></i>
                        <h2 class="service-item-name">Phí gửi xe</h2>
                    </div>
                    <div class="service-item">
                        <i class="fa-solid fa-id-card"></i>
                        <h2 class="service-item-name">Thẻ thành viên</h2>
                    </div>
                </div>
                <a href="#" class="service-info-link">Xem thêm <i class="fa-regular fa-arrow-right"></i></a>
            </div>
        </div>
    </div>
    <div class="main-contract">
        <div class="row">
            <div class="col-lg-4 col-md-12">
                <div class="main-contract-item">
                    <div class="main-contract-item-icon">
                        <i class="fa-thin fa-envelopes"></i>
                    </div>
                    <h1 class="main-contract-item-title">Hộp thư sinh viên</h1>
                    <p class="main-contract-item-des">
                        Phản hồi ý kiến của riêng bạn về ban quản lý ký túc xá
                    </p>
                    <a href="#" class="main-contract-item-link">Đi đến hộp thư <i class="fa-light fa-chevrons-right"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="main-contract-item">
                    <div class="main-contract-item-icon">
                        <i class="fa-thin fa-money-bill"></i>
                    </div>
                    <h1 class="main-contract-item-title">Hóa đơn sử dụng</h1>
                    <p class="main-contract-item-des">
                        Lịch sử hóa đơn, đơn hàng bạn đã mua
                    </p>
                    <a href="#" class="main-contract-item-link">Đi đến lịch sử hóa đơn <i class="fa-light fa-chevrons-right"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="main-contract-item">
                    <div class="main-contract-item-icon">
                        <i class="fa-thin fa-mug-saucer"></i>
                    </div>
                    <h1 class="main-contract-item-title">Thông báo hư hỏng vật tư</h1>
                    <p class="main-contract-item-des">
                        Thông báo cho ban quản lý vật tư phòng bị hỏng, hoặc mất
                    </p>
                    <a href="#" class="main-contract-item-link">Đi đến trang thông báo <i class="fa-light fa-chevrons-right"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-9 col-md-12 hide-in-mobile">
            <div class="main-info-users">
                <center><h1 class="main-info-users-title">Thông tin phòng</h1></center><br /><br />
                @if (Model.MaPhong == null)
                {
                    <b class="main-info-users-title">Bạn chưa là thành viên của ký túc xá</b>
                }
                else
                {
                    int i = 1;
                    <table class="main-info-users-table">
                        <thead>
                            <tr>
                                <td>STT</td>
                                <td>Tên sinh viên</td>
                                <td>Mã sinh viên</td>
                                <td>Lớp</td>
                                <td>Liên hệ</td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Phong.SinhViens)
                            {
                                <tr>
                                    <td>@(i++)</td>
                                    <td>@item.Ho @item.Ten</td>
                                    <td>@item.MaSV</td>
                                    <td>@item.Lop</td>
                                    <td>@item.SoDienThoai</td>
                                </tr>
                            }

                        </tbody>
                    </table>
                }
            </div>
        </div>
        <div class="col-lg-3 col-md-12">
            <div class="row">
                <div class="col-lg-12 col-md-6">
                    <div class="main-info-violate">
                        <div class="main-info-violate-box">
                            <div class="main-info-violate-box-icon">
                                <i class="fa-solid fa-circle-minus"></i>
                            </div>
                            <h3 class="main-info-violate-box-title">Lỗi vi phạm</h3>
                        </div>
                        <div class="main-info-violate-quantity">
                            0
                        </div>
                        <h3 class="main-info-violate-des">Vi phạm</h3>
                    </div>
                </div>
                <div class="col-lg-12 col-md-6">
                    <div class="main-info-warning">
                        <div class="main-info-warning-box">
                            <div class="main-info-warning-box-icon">
                                <i class="fa-solid fa-triangle-exclamation"></i>
                            </div>
                            <h3 class="main-info-warning-box-title">Lỗi cảnh cáo</h3>
                        </div>
                        <div class="main-info-warning-quantity">
                            2
                        </div>
                        <h3 class="main-info-warning-des">cảnh cáo</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById('sidebar-trangchu').classList.add("active");
</script>
