@model QLKTX.Models.HopDong

@{
    ViewBag.Title = "Chi tiết hợp đồng";
    Layout = "~/Views/Admin/LayoutAdmin.cshtml";
}

<script>document.getElementById('sidebar-hopdong').classList.add("active");</script>

<link rel="stylesheet" href="~/assets/css/Dashboard/Admin/ChiTietHopDong.css" />
<div class="sidebar-right-content-heading">
    <h2 class="sidebar-right-content-heading-name">Chi tiết hợp dồng</h2>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="bg-white-content">
            <div class="row">
                <div class="col-lg-6">
                    <div class="detail-bill-heading">
                        <h3 class="detail-bill-heading-title">Mã hợp dồng:</h3>
                        <span class="detail-bill-heading-name">@Html.DisplayFor(model => model.MaHopDong)</span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="detail-bill-heading">
                        <h3 class="detail-bill-heading-title">Mã sinh viên:</h3>
                        <span class="detail-bill-heading-name">@Html.DisplayFor(model => model.MaSV)</span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="detail-bill-heading">
                        <h3 class="detail-bill-heading-title">Người tạo:</h3>
                        <span class="detail-bill-heading-name">@Html.DisplayFor(model => model.NguoiTao)</span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="detail-bill-heading">
                        <h3 class="detail-bill-heading-title">Ngày tạo:</h3>
                        <span class="detail-bill-heading-name">@Html.DisplayFor(model => model.NgayTao)</span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="detail-bill-heading">
                        <h3 class="detail-bill-heading-title">Ngày bắt đầu:</h3>
                        <span class="detail-bill-heading-name">@Html.DisplayFor(model => model.NgayBatDau)</span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="detail-bill-heading">
                        <h3 class="detail-bill-heading-title">Ngày kết thúc:</h3>
                        <span class="detail-bill-heading-name">@Html.DisplayFor(model => model.NgayKetThuc)</span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="detail-bill-heading">
                        <h3 class="detail-bill-heading-title">Trạng thái:</h3>
                        <span class="detail-bill-heading-name">@Html.DisplayFor(model => model.TrangThai)</span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="detail-bill-heading">
                        <h3 class="detail-bill-heading-title">Đã thanh toán:</h3>
                        <span class="detail-bill-heading-name">@Html.DisplayFor(model => model.DaThanhToan)</span>
                    </div>
                </div>
            </div>
            <div class="form-add-bill">
                <a href="~/Admin/DanhSachHopDong" class="btn__go-home">
                    <i class="fa-regular fa-chevrons-left"></i>
                    Trở về danh sách hợp dồng
                </a>
            </div>
        </div>
    </div>
</div>

