@model QLKTX.Models.HopDong

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ChiTietHopDong</title>
</head>
<body>
    <div>
        <h4>HopDong</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.MaHopDong)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MaHopDong)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MaSV)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MaSV)
                Xin chào tất cả mọi người
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NguoiTao)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NguoiTao)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NgayTao)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NgayTao)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NgayBatDau)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NgayBatDau)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NgayKetThuc)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NgayKetThuc)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TrangThai)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TrangThai)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DaThanhToan)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DaThanhToan)
            </dd>

        </dl>
    </div>
</body>
</html>
