@model IEnumerable<QLKTX.Models.Phong>
@{
    Layout = "~/Views/Admin/LayoutAdmin.cshtml";
}

@section sidebarLeft{
    <ul class="sidebar-left-navbar-nav">
        <li class="sidebar-left-navbar-nav-item ">
            <a href="~/Admin/TrangChu" class="sidebar-left-navbar-nav-item-link">
                <i class="fa-light fa-grid-2"></i>
                Trang chủ
            </a>
        </li>
        <li class="sidebar-left-navbar-nav-item active">
            <a href="~/Admin/DanhSachPhong" class="sidebar-left-navbar-nav-item-link">
                <i class="fa-light fa-user"></i>
                Danh sách phòng
            </a>
        </li>
        <li class="sidebar-left-navbar-nav-item">
            <a href="~/Admin/DanhSachSinhVien" class="sidebar-left-navbar-nav-item-link">
                <i class="fa-light fa-leaf"></i>
                Danh sách sinh viên
            </a>
        </li>
        <li class="sidebar-left-navbar-nav-item">
            <a href="~/Admin/QuanLyNhanVien" class="sidebar-left-navbar-nav-item-link">
                <i class="fa-light fa-circle-minus"></i>
                Danh sách nhân viên
            </a>
        </li>
        <li class="sidebar-left-navbar-nav-item">
            <a href="#" class="sidebar-left-navbar-nav-item-link">
                <i class="fa-light fa-file"></i>
                Danh sách vi phạm
            </a>
        </li>
        <li class="sidebar-left-navbar-nav-item">
            <a href="~/Admin/DanhSachHoaDon" class="sidebar-left-navbar-nav-item-link">
                <i class="fa-light fa-memo"></i>
                Danh sách hóa đơn
            </a>
        </li>
        <li class="sidebar-left-navbar-nav-item">
            <a href="~/Admin/DanhSachHopDong" class="sidebar-left-navbar-nav-item-link">
                <i class="fa-light fa-money-bill"></i>
                Danh sách hợp đồng
            </a>
        </li>
        <li class="sidebar-left-navbar-nav-item">
            <a href="~/Admin/DanhSachXetDuyet" class="sidebar-left-navbar-nav-item-link">
                <i class="fa-light fa-flag"></i>
                Xét duyệt - kiểm tra
            </a>
        </li>
        <li class="sidebar-left-navbar-nav-item">
            <a href="#" class="sidebar-left-navbar-nav-item-link">
                <i class="fa-light fa-flag"></i>
                Thông tin quản trị
            </a>
        </li>
    </ul>    
}

<link rel="stylesheet" href="~/assets/css/Dashboard/Admin/DanhSachPhong.css">
<div class="sidebar-right-content-heading">
    <h2 class="sidebar-right-content-heading-name">Quản lý phòng ký túc xá</h2>
    <a href="#" class="btn__primary--type">
        <i class="fa-light fa-plus"></i>
        Thêm phòng mới
    </a>
</div>
<div class="container-fluid">
    <div class="sidebar-right-list">
        <div class="sidebar-right-list-filter">
            <ul class="sidebar-right-list-filter-list">
                <li class="sidebar-right-list-filter-item">
                    <a href="#" class="sidebar-right-list-filter-item-link active">Tất cả</a>
                </li>
                <li class="sidebar-right-list-filter-item">
                    <a href="#" class="sidebar-right-list-filter-item-link">Chưa sử dụng</a>
                </li>
                <li class="sidebar-right-list-filter-item">
                    <a href="#" class="sidebar-right-list-filter-item-link">Đã sử dụng</a>
                </li>
                <li class="sidebar-right-list-filter-item">
                    <a href="#" class="sidebar-right-list-filter-item-link">Đang sửa chữa</a>
                </li>
            </ul>
            <div class="sidebar-right-list-filter-sort">
                <select name="" id="">
                    <option value="">-- Chọn cách lọc --</option>
                    <option value="">Theo từ A - Z</option>
                    <option value="">Theo từ Z - A</option>
                    <option value="">Theo số phòng thấp - cao </option>
                    <option value="">Theo số phòng cao - thấp</option>
                </select>
            </div>
        </div>
        <div class="sidebar-right-list-room-all">
            <div class="row">
                @foreach (var item in Model)
                {
                    @*<tr>
                        <td></td>
                        <td>@item.Tang.Ten</td>
                        <td>@item.Ma</td>
                        <td></td>
                        <td></td>
                        <td>@item.TruongPhong</td>
                        <td>@Html.DisplayFor(modelItem => item.DangSuaChua)</td>
                    </tr>*@
                    <div class="col-lg-6">
                        <div class="sidebar-right-list-room-item">
                            <div class="sidebar-right-list-room-item-left">
                                <div class="list-room-item-left-status">
                                    <span class="dot-status" style="background-color: #00c000;"></span>
                                    Đang sử dụng
                                </div>
                                <div class="list-room-item-left-name">@item.Ten</div>
                                <div class="list-room-item-left-type">
                                    <h2>Khu:</h2>
                                    <p>@item.Tang.Khu.Ten</p>
                                </div>
                                <div class="list-room-item-left-number_people">
                                    Số sinh viên
                                    <i class="fa-light fa-user"></i>:
                                    <span>@*4</span> / <span class="people_max">4*@ @(10 - item.SoLuongTrong)</span>
                                </div>
                            </div>
                            <div class="sidebar-right-list-room-item-right">
                                <div class="list-room-item-right-floor">
                                    <span> @item.Tang.Ten</span>
                                    <i class="fa-light fa-escalator"></i>
                                </div>
                                <div class="list-room-item-right-img">
                                    <img src="~/assets/img/list-house.png" alt="">
                                </div>
                                <div class="list-room-item-right-option">
                                    <a href="@Url.Action("XemThongTinPhong",new {maPhong = item.Ma})" class="list-room-item-right-detail">Xem chi tiết</a>
                                    <a href="#" class="list-room-item-right-edit">Chỉnh sửa</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</div>
