@model IEnumerable<QLKTX.Models.HopDong>

@{
    ViewBag.Title = "Danh sách hợp đồng";
    Layout = "~/Views/Admin/LayoutAdmin.cshtml";
}

<script>document.getElementById('sidebar-hopdong').classList.add("active");</script>
<link rel="stylesheet" href="~/assets/css/Dashboard/Admin/DanhSachHopDong.css" />
<div class="sidebar-right-content-heading">
    <h2 class="sidebar-right-content-heading-name">Quản lý hợp dồng</h2>
</div>
<div class="container-fluid">
    <div class="row">
        <form method="post" class="filter-list">
            <div class="filter-box">
                <input type="checkbox" name="showAll" id="loc0" class="showAll" value="All" /> <label class="filter-title" for="loc0">Tất cả </label>
            </div>
            <div class="filter-box">
                <input type="checkbox" name="loc" id="loc1" class="loc" value="Chưa hiệu lực" /> <label class="filter-title" for="loc1">Chưa hiệu lực </label>
            </div>
            <div class="filter-box">
                <input type="checkbox" name="loc" id="loc2" class="loc" value="Có hiệu lực" /> <label class="filter-title" for="loc2">Có hiệu lực </label>
            </div>
            <div class="filter-box">
                <input type="checkbox" name="loc" id="loc3" class="loc" value="Xin gia hạn" /> <label class="filter-title" for="loc3">Xin gia hạn </label>
            </div>
            <div class="filter-box">
                <input type="checkbox" name="loc" id="loc4" class="loc" value="Hết hiệu lực" /> <label class="filter-title" for="loc4">Hết hiệu lực </label>
            </div>
            <button type="submit" class="filter-button">Lọc</button>
        </form>
    </div>
    <div class="row">
        <table class="main-info-users-table">
            <thead>
                <td>
                    Mã hợp đồng
                </td>
                <td>
                    Mã sinh viên
                </td>
                <td>
                    Người tạo
                </td>
                <td>
                    Ngày tạo
                </td>
                <td>
                    Ngày bắt đầu
                </td>
                <td>
                    Ngày kết thúc
                </td>
                <td>
                    Trạng thái
                </td>
                <td></td>
            </thead>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.MaHopDong)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MaSV)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NguoiTao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NgayTao)
                    </td>
                    <td>
                        @item.NgayBatDau.ToString("dd/MM/yyyy")
                    </td>
                    <td>
                        @item.NgayKetThuc.ToString("dd/MM/yyyy")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TrangThai)
                    </td>
                    <td>
                        <a href="@Url.Action("ChiTietHopDong", new {maHD = item.MaHopDong})" class="Contact-detail-link">Chi tiết</a>
                        @if (item.TrangThai == "Chưa hiệu lực" || item.TrangThai == "Xin gia hạn")
                        {
                            <button value="@item.MaHopDong" class="open_btn btn_xacnhan ">Xác nhận</button>
                        }
                    </td>
                </tr>
            }
        </table>
    </div>
    <div class="row">
        <div class="sidebar-right-content-pagination">
            <ul class="pagination-list">
                <li class="pagination-item">
                    <a href="#" class="pagination-link">
                        <i class="fa-regular fa-chevron-left"></i>
                    </a>
                </li>
                <li class="pagination-item">
                    <a href="#" class="pagination-link active">
                        1
                    </a>
                </li>
                <li class="pagination-item">
                    <a href="#" class="pagination-link">
                        2
                    </a>
                </li>
                <li class="pagination-item">
                    <a href="#" class="pagination-link">
                        3
                    </a>
                </li>
                <li class="pagination-item">
                    <a href="#" class="pagination-link">
                        <i class="fa-regular fa-chevron-right"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="modall an">
    @using (Html.BeginForm("ThanhToanHopDong", "Admin", new { url = Request.Url.ToString() }))
    {
        <div class="modal__innerr">
            <div class="modal__headerr">
                <p>Xác nhận thanh toán hợp đồng "<span id="idValue"></span>"?</p>
                <i class="fas fa-times"></i>
            </div>
            <div class="modal__bodyy">
                <span>Khi bạn xác nhận đồng nghĩa với việc hợp đồng này sẽ có hiệu lực</span>
            </div>
            <div class="modal__footerr">
                <a class="close btn btn-warning">Hủy bỏ</a>
                <button type="submit" name="maDH" id="subvalue" class="btn btn-primary">Xác nhận</button>
            </div>
        </div>
    }
</div>
<script src="~/assets/js/HopThoai.js"></script>
<script src="~/assets/js/hopXacNhan.js"></script>
<script src="~/assets/js/loc.js"></script>