@model IEnumerable<QLKTX.Models.HopDong>

@{
    ViewBag.Title = "Danh sách hợp đồng";
    Layout = "~/Views/Admin/LayoutAdmin.cshtml";
}

@section sidebarLeft{
    <ul class="sidebar-left-navbar-nav">
        <li class="sidebar-left-navbar-nav-item ">
            <a href="~/Admin/TrangChu" class="sidebar-left-navbar-nav-item-link">
                <i class="fa-light fa-grid-2"></i>
                Trang chủ
            </a>
        </li>
        <li class="sidebar-left-navbar-nav-item ">
            <a href="~/Admin/DanhSachPhong" class="sidebar-left-navbar-nav-item-link">
                <i class="fa-light fa-user"></i>
                Danh sách phòng
            </a>
        </li>
        <li class="sidebar-left-navbar-nav-item ">
            <a href="~/Admin/DanhSachSinhVien" class="sidebar-left-navbar-nav-item-link">
                <i class="fa-light fa-leaf"></i>
                Danh sách sinh viên
            </a>
        </li>
        <li class="sidebar-left-navbar-nav-item ">
            <a href="~/Admin/QuanLyNhanVien" class="sidebar-left-navbar-nav-item-link">
                <i class="fa-light fa-circle-minus"></i>
                Danh sách nhân viên
            </a>
        </li>
        <li class="sidebar-left-navbar-nav-item">
            <a href="#" class="sidebar-left-navbar-nav-item-link">
                <i class="fa-light fa-file"></i>
                Danh sách vi phạm
            </a>
        </li>
        <li class="sidebar-left-navbar-nav-item ">
            <a href="~/Admin/DanhSachHoaDon" class="sidebar-left-navbar-nav-item-link">
                <i class="fa-light fa-memo"></i>
                Danh sách hóa đơn
            </a>
        </li>
        <li class="sidebar-left-navbar-nav-item active">
            <a href="~/Admin/DanhSachHopDong" class="sidebar-left-navbar-nav-item-link">
                <i class="fa-light fa-money-bill"></i>
                Danh sách hợp đồng
            </a>
        </li>
        <li class="sidebar-left-navbar-nav-item">
            <a href="~/Admin/DanhSachXetDuyet" class="sidebar-left-navbar-nav-item-link">
                <i class="fa-light fa-flag"></i>
                Xét duyệt - kiểm tra
            </a>
        </li>
        <li class="sidebar-left-navbar-nav-item">
            <a href="#" class="sidebar-left-navbar-nav-item-link">
                <i class="fa-light fa-flag"></i>
                Thông tin quản trị
            </a>
        </li>
    </ul>
}
<link rel="stylesheet" href="~/assets/css/hopThoai.css" />
<link rel="stylesheet" href="~/assets/css/Dashboard/Admin/DanhSachHopDong.css" />
<div class="sidebar-right-content-heading">
    <h2 class="sidebar-right-content-heading-name">Quản lý hợp dồng</h2>
</div>
<div class="container-fluid">
    <div class="row">
        <form method="post" class="filter-list">
            <div class="filter-box">
                <input type="checkbox" name="showAll" id="loc0" class="showAll" value="All" /> <label class="filter-title" for="loc0">Tất cả </label>
            </div>
            <div class="filter-box">
                <input type="checkbox" name="loc" id="loc1" class="loc" value="Chưa hiệu lực" /> <label class="filter-title" for="loc1">Chưa hiệu lực </label>
            </div>
            <div class="filter-box">
                <input type="checkbox" name="loc" id="loc2" class="loc" value="Có hiệu lực" /> <label class="filter-title" for="loc2">Có hiệu lực </label>
            </div>
            <div class="filter-box">
                <input type="checkbox" name="loc" id="loc3" class="loc" value="Xin gia hạn" /> <label class="filter-title" for="loc3">Xin gia hạn </label>
            </div>
            <div class="filter-box">
                <input type="checkbox" name="loc" id="loc4" class="loc" value="Hết hiệu lực" /> <label class="filter-title" for="loc4">Hết hiệu lực </label>
            </div>
            <button type="submit" class="filter-button">Lọc</button>
        </form>
    </div>
    <div class="row">
        <table class="main-info-users-table">
            <tr>
                <td>
                    Mã hợp đồng
                </td>
                <td>
                    Mã sinh viên
                </td>
                <td>
                    Người tạo
                </td>
                <td>
                    Ngày tạo
                </td>
                <td>
                    Ngày bắt đầu
                </td>
                <td>
                    Ngày kết thúc
                </td>
                <td>
                    Trạng thái
                </td>
                <td></td>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.MaHopDong)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MaSV)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NguoiTao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NgayTao)
                    </td>
                    <td>
                        @item.NgayBatDau.ToString("dd/MM/yyyy")
                    </td>
                    <td>
                        @item.NgayKetThuc.ToString("dd/MM/yyyy")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TrangThai)
                    </td>
                    <td>
                        <a href="@Url.Action("ChiTietHopDong", new {maHD = item.MaHopDong})" class="Contact-detail-link">Chi tiết</a>
                        @if (item.TrangThai == "Chưa hiệu lực" || item.TrangThai == "Xin gia hạn")
                        {
                            <button value="@item.MaHopDong" class="open_btn btn_xacnhan">Xác nhận</button>
                        }
                    </td>
                </tr>
            }
        </table>
    </div>
    <div class="row">
        <div class="sidebar-right-content-pagination">
            <ul class="pagination-list">
                <li class="pagination-item">
                    <a href="#" class="pagination-link">
                        <i class="fa-regular fa-chevron-left"></i>
                    </a>
                </li>
                <li class="pagination-item">
                    <a href="#" class="pagination-link active">
                        1
                    </a>
                </li>
                <li class="pagination-item">
                    <a href="#" class="pagination-link">
                        2
                    </a>
                </li>
                <li class="pagination-item">
                    <a href="#" class="pagination-link">
                        3
                    </a>
                </li>
                <li class="pagination-item">
                    <a href="#" class="pagination-link">
                        <i class="fa-regular fa-chevron-right"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="modall an">
    @using (Html.BeginForm("ThanhToanHopDong", "Admin", new { url = Request.Url.ToString() }))
    {
        <div class="modal__innerr">
            <div class="modal__headerr">
                <p>Xác nhận thanh toán hợp đồng "<span id="idValue"></span>"?</p>
                <i class="fas fa-times"></i>
            </div>
            <div class="modal__bodyy">
                <span>Khi bạn xác nhận đồng nghĩa với việc hợp đồng này sẽ có hiệu lực</span>
            </div>
            <div class="modal__footerr">
                <a class="close btn btn-warning">Hủy bỏ</a>
                <button type="submit" name="maDH" id="subvalue" class="btn btn-danger">Xác nhận</button>
            </div>
        </div>
    }
</div>
<script src="~/assets/js/HopThoai.js"></script>
<script src="~/assets/js/hopXacNhan.js"></script>
<script src="~/assets/js/loc.js"></script>