@model QLKTX.Models.Phong

@{
    Layout = null;
    Layout = "~/Views/Admin/LayoutAdmin.cshtml";
}
<script>document.getElementById('sidebar-phong').classList.add("active");</script>
<link rel="stylesheet" href="~/assets/css/Dashboard/Admin/XemThongTinPhong.css">
<div class="sidebar-right-content-heading">
    <h2 class="sidebar-right-content-heading-name">Chi tiết phòng @Model.Ten</h2>
</div>
    <div class="container-fluid">
        <div class="bg-white-content">
            <div class="row">
                <h4 class="heading-bill-title">Thông tin phòng @Model.Ten</h4>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="detail-bill-heading">
                        <h3 class="detail-bill-heading-title">Mã phòng:</h3>
                        <span class="detail-bill-heading-name">@Model.Ma</span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="detail-bill-heading">
                        <h3 class="detail-bill-heading-title">Tầng phòng:</h3>
                        <span class="detail-bill-heading-name">@Model.Tang.Ten</span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="detail-bill-heading">
                        <h3 class="detail-bill-heading-title">Số lượng đang ở:</h3>
                        <span class="detail-bill-heading-name">@(10 - Model.SoLuongTrong)</span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="detail-bill-heading">
                        <h3 class="detail-bill-heading-title">Trạng thái:</h3>
                        <span class="detail-bill-heading-name">@(Model.DangSuaChua ? "Đang sửa chửa":"Đang hoạt động")</span>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="detail-bill-heading">
                        <h3 class="detail-bill-heading-title">Trưởng phòng:</h3>
                        <span class="detail-bill-heading-name">@Model.TruongPhong</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <h2 class="heading-bill-title">Danh sách thành viên</h2>
                <table class="table main-info-users-table">
                    <thead>
                        <tr>
                            <td></td>
                            <td>Mã sinh viên</td>
                            <td>Họ và tên</td>
                            <td>Lớp</td>
                            <td>Số điện thoại</td>
                            <td>Email</td>
                            <td>Trạng thái</td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.SinhViens)
                        {
                            <tr>
                                <td><img src="@item.AnhDaiDien" style="width:100px; height:100px;" /></td>
                                <td>@item.MaSV</td>
                                <td>@item.Ho @item.Ten</td>
                                <td>@item.Lop</td>
                                <td>@item.SoDienThoai</td>
                                <td>@item.Email</td>
                                <td>@item.TrangThai</td>
                                @if (Model.TruongPhong == item.MaSV)
                                {
                                    <td><b class="leader-room-name">Trưởng phòng</b></td>
                                }
                                else
                                {
                                    <td><button value="@item.MaSV" class="btn btn-primary btn_xacnhan open_btn">Đổi trưởng phòng</button></td>
                                }
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="form-add-bill">
                    <a href="~/Admin/DanhSachPhong" class="btn__go-home">
                        <i class="fa-regular fa-chevrons-left"></i>
                        Trở về danh sách phòng
                    </a>
                </div>
            </div>
        </div>
    </div>
    
    <div class="modall an">
        @using (Html.BeginForm("DoiTruongPhong", "Admin", new { maPhong = Model.Ma, url = Request.Url.ToString() }))
        {
            <div class="modal__innerr">
                <div class="modal__headerr">
                    <p>Thay đổi trưởng phòng cho sinh viên "<span id="idValue"></span>"?</p>
                    <i class="fas fa-times"></i>
                </div>
                <div class="modal__bodyy">
                    <span>Bạn có chắc chắn muốn thay đổi khổng?</span>
                </div>
                <div class="modal__footerr">
                    <a class="close btn btn-warning">Hủy bỏ</a>
                    <button type="submit" name="maSV" id="subvalue" class="btn btn-danger">Xác nhận</button>
                </div>
            </div>
        }
    </div>
    <script src="~/assets/js/HopThoai.js"></script>
    <script src="~/assets/js/hopXacNhan.js"></script>
